## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------



{{html clean='false'}}

#if ($found == 'true')
  <div class="adminToolsDashboardItem">
    <h2>$services.icon.renderHTML('download')
      $escapetool.xml($services.localization.render('adminTools.dashboard.section.download.title'))</h2>
    <p>$escapetool.xml($services.localization.render('adminTools.dashboard.section.download.description'))</p>
    <hr/>
    <ul>
      <li>
        <a href="#downloadFilesModal"  data-toggle="modal" data-target="#downloadFilesModal">
          $escapetool.xml($services.localization.render('adminTools.dashboard.section.download.modal.open'))</a>
      </li>
      <li>
        $escapetool.xml($services.localization.render('adminTools.dashboard.section.download.view.description'))
        <ul>
          <li>
            <a href="$services.admintools.getContextPath()/rest/admintools/files/xwikiConfigFileDataResource"
            target="_blank">
              $escapetool.xml($services.localization.render('adminTools.dashboard.section.download.view.configuration'))
            </a>
          </li>
          <li>
            <a href="$services.admintools.getContextPath()/rest/admintools/files/xwikiPropertiesFileDataResource"
            target="_blank">
              $escapetool.xml($services.localization.render('adminTools.dashboard.section.download.view.properties'))
            </a>
          </li>
          <li>
            <a href="#viewLogsModal" data-toggle="modal" data-target="#viewLogsModal">
              $escapetool.xml($services.localization.render('adminTools.dashboard.showLogs'))</a>
          </li>
        </ul>
      </li>
    </ul>

    #warning($escapetool.xml($services.localization.render('adminTools.dashboard.section.download.warning')))

  </div>

#else
  #set($warningMessage =
    $escapetool.xml($services.localization.render('adminTools.dashboard.section.backend.configuration.error'))+ '<br>')
  #set($warningMessage = $warningMessage +
    $escapetool.xml($services.localization.render('adminTools.dashboard.section.backend.supportedServers.error'))
    + $stringtool.join($services.admintools.getSupportedServers(), ', '))

  #warning($warningMessage)
#end

<div class="modal fade" id="downloadFilesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title" id="myModalLabel" style="text-align: center;">
          $escapetool.xml($services.localization.render('adminTools.dashboard.modal.download.title'))</h1>
      </div>
      <div class="modal-body" style="text-align: center;">
        <form id="downloadForm" action="$services.admintools.getContextPath()/rest/admintools/files" method="POST">
          <label><input type="checkbox" name="files" value="xwikiConfigFileDataResource" checked> xwiki.cfg</label><br>
          <label><input type="checkbox" name="files" value="xwikiPropertiesFileDataResource" checked>
            xwiki.properties</label><br>
          <label><input type="checkbox" name="files" value="dataProviderResource" checked>
            $escapetool.xml($services.localization.render('adminTools.dashboard.modal.download.provided'))</label><br>
          <label><input type="checkbox" name="files" value="logsDataResource" checked> Logs</label><br>
          <div id="dateFields">
            <label>$escapetool.xml($services.localization.render('adminTools.dashboard.modal.download.date.from'))
            </label> <input type="date" id="from" name="from">
            <label>$escapetool.xml($services.localization.render('adminTools.dashboard.modal.download.date.to'))
            </label> <input type="date" id="to" name="to">
          </div>
          <br>
          <br>
          <input class="btn btn-primary btn-lg" type="submit"
            value="$escapetool.xml($services.localization.render('adminTools.dashboard.modal.download.button'))">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          $escapetool.xml($services.localization.render('adminTools.dashboard.modal.button.close'))</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="viewLogsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title" id="myModalLabel" style="text-align: center;">
          $escapetool.xml($services.localization.render('adminTools.dashboard.modal.logs.title'))</h1>
      </div>
      <div class="modal-body" style="text-align: center;">
        <form id="downloadForm" action="$services.admintools.getContextPath()/rest/admintools/files/logs"
          method="POST" target="_blank">
          <br>
          <label>$escapetool.xml($services.localization.render('adminTools.dashboard.modal.logs.selection')) </label>
          <input type="number" id="noLines" name="noLines" placeholder="100">
          <br>
          <br>
          <br>
          <input class="btn btn-primary btn-lg" type="submit"
            value="$escapetool.xml($services.localization.render('adminTools.dashboard.modal.logs.button'))">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          $escapetool.xml($services.localization.render('adminTools.dashboard.modal.button.close'))</button>
      </div>
    </div>
  </div>
</div>
{{/html}}