## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
#set ($mainReference = $services.model.createDocumentReference('', ['AdminTools', 'Code'], 'ConfigurationClass'))
#if ($services.licensing.licensor.hasLicensureForEntity($mainReference))
  #set ($discard = $xwiki.jsx.use('AdminTools.Code.AdminToolsJS'))
  #includeMacros('AdminTools.Code.Macros')
  #set($adminToolsFilesPath = "$request.getContextPath()/rest/admintools/files")
  #if ($found)
    <div class="admin-tools-dashboard-item">
      <p>$escapetool.xml($services.localization.render('adminTools.dashboard.section.download.description'))</p>
      <hr/>
      <ul>
        <li>
          <a href="#downloadFilesModal"  data-toggle="modal" data-target="#downloadFilesModal">
            $escapetool.xml($services.localization.render('adminTools.dashboard.download.label'))</a>
        </li>
        <li>
          $escapetool.xml($services.localization.render('adminTools.dashboard.download.view.description'))
          <ul>
            <li>
              <a href="$adminToolsFilesPath/xwikiConfig"
              target="_blank">
                $escapetool.xml($services.localization.render('adminTools.dashboard.download.view.configuration'))
              </a>
            </li>
            <li>
              <a href="$adminToolsFilesPath/xwikiProperties"
              target="_blank">
                $escapetool.xml($services.localization.render('adminTools.dashboard.download.view.properties'))
              </a>
            </li>
            <li>
              <a href="#filesViewLastNLinesModal" data-toggle="modal" data-target="#filesViewLastNLinesModal">
                $escapetool.xml($services.localization.render('adminTools.dashboard.showLogs'))</a>
            </li>
          </ul>
        </li>
      </ul>
      #warning($escapetool.xml($services.localization.render('adminTools.dashboard.download.warning')))
    </div>
    #viewLastNLinesMoldal("files")
    #downloadArchiveModal()
  #else
    #set($warningMessage =
      $escapetool.xml($services.localization.render('adminTools.dashboard.backend.configuration.error'))+ '<br>')
    #set($warningMessage = $warningMessage +
      $escapetool.xml($services.localization.render('adminTools.dashboard.backend.supportedServers.error')) + ': '
      + $stringtool.join($services.admintools.getSupportedServers(), ', '))
    #warning($warningMessage)
  #end
#else
  #includeMacros('Licenses.Code.VelocityMacros')
  {{error}}
    #getMissingLicenseMessage('adminTools.extension.name')
  {{/error}}
#end