## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
#if($security['serverFound'] == 'true')
  #set ($discard = $xwiki.jsx.use('AdminTools.Code.AdminToolsJS'))
  <div class="wiki-security-settings">
    <p>$escapetool.xml($services.localization.render('adminTools.dashboard.security.description'))</p>
    <hr/>
    <ul>
      <li>
        $escapetool.xml($services.localization.render('adminTools.dashboard.security.activeEncoding')):
        $security['activeEncoding']
      </li>
      <li>
        $escapetool.xml($services.localization.render('adminTools.dashboard.security.configurationEncoding')):
        $security['configurationEncoding']
      </li>
      <li>
        $escapetool.xml($services.localization.render('adminTools.dashboard.security.PWD')): $security['PWD']
      </li>
      <li>
        $escapetool.xml($services.localization.render('adminTools.dashboard.security.LANG')): $security['LANG']
      </li>
      <li>
        $escapetool.xml($services.localization.render('adminTools.dashboard.security.fileEncoding')):
        $security['fileEncoding']
      </li>
    </ul>
    <hr/>
    <div class="security-detailed">
      <h2>$escapetool.xml($services.localization.render('adminTools.dashboard.security.detailed.title'))</h2>
      <ul>
        <li><a href="$xwiki.getURL("AdminTools.ViewGroupsRights")" target="_blank">
            $escapetool.xml($services.localization.render('adminTools.dashboard.security.detailed.groupsRights'))
          </a></li>
        <li><a href="$xwiki.getURL("AdminTools.ViewUsersRights")" target="_blank">
            $escapetool.xml($services.localization.render('adminTools.dashboard.security.detailed.usersRights'))
          </a></li>
        <li><a href="$xwiki.getURL("AdminTools.CheckUserRightsOnPage")" target="_blank">
            $escapetool.xml($services.localization.render('adminTools.dashboard.security.detailed.pageRights'))
          </a></li>
      </ul>
    </div>
  </div>
#else
  #set($warningMessage = $escapetool.xml($services.localization.render('adminTools.dashboard.serverNotFound.error',
    [$stringtool.join($services.admintools.getSupportedServers(), ', ')])))
  #warning($warningMessage)
#end
