## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
#if($found == 'true')
  #includeMacros("AdminTools.Code.Macros")
  <div class="wiki-size-section">
    <p>$escapetool.xml($services.localization.render('adminTools.dashboard.instanceUsage.description'))</p>
    <hr/>
    <p>$escapetool.xml($services.localization.render('adminTools.dashboard.instanceUsage.total.extensions',
      [$extensionCount]))</p>
    <p>$escapetool.xml($services.localization.render('adminTools.dashboard.instanceUsage.total.users',
      [$totalUsers]))</p>
    <div class="wikis-size-info-list">
      #if ($instanceUsage.size() != 0)
        <ul>
          #foreach($wikiData in $instanceUsage)
            #set($wikiName = "<strong>$wikiData.getName()</strong>")
            <li>$escapetool.xml($services.localization.render('adminTools.dashboard.instanceUsage.wiki.name', [
              '__WIKINAME__'])).replace('__WIKINAME__', $wikiName)</li>
            <ul>
              <li>$escapetool.xml($services.localization.render('adminTools.dashboard.instanceUsage.wiki.users', [
                $wikiData.getUserCount()]))</li>
              <li>$escapetool.xml($services.localization.render('adminTools.dashboard.instanceUsage.wiki.documents',
                [$wikiData.getDocumentsCount()]))</li>
              <li>$escapetool.xml($services.localization.render('adminTools.dashboard.instanceUsage.wiki.attachments',
                [$wikiData.getAttachmentsCount(), $wikiData.getAttachmentsSize()]))</li>
            </ul>
          #end
        </ul>
      #else
        #error($escapetool.xml($services.localization.render('adminTools.dashboard.instanceUsage.error')))
      #end
    </div>
    <hr/>
    <div class="specific-stats">
      #set ($spamLimit = $services.admintools.getMinimumSpamSize())
      <h2>$escapetool.xml($services.localization.render('adminTools.dashboard.instanceUsage.specific'))</h2>
      <ul>
        <li><a href="#pagesOverNumberOfComments" data-toggle="modal" data-target="#pagesOverNumberOfComments"
          title="$escapetool.xml($services.localization.render(
          'adminTools.dashboard.instanceUsage.specific.comments.hint', [$spamLimit]))">
            $escapetool.xml($services.localization.render('adminTools.dashboard.instanceUsage.specific.comments',
            [$spamLimit]))</a></li>
        <li><a href="#checkRecycleBinsModal" data-toggle="modal" data-target="#checkRecycleBinsModal"
            title="$escapetool.xml($services.localization.render(
            'adminTools.dashboard.instanceUsage.specific.recycleBins.hint'))">
              $escapetool.xml($services.localization.render('adminTools.dashboard.instanceUsage.specific.recycleBins'))
          </a></li>
      </ul>
    </div>
    #pagesOverNumberOfCommentsModal($spamLimit)
    #recycleBinsModal()
  </div>
#else
  #set($warningMessage = $escapetool.xml($services.localization.render('adminTools.dashboard.serverNotFound.error',
    [$stringtool.join($services.admintools.getSupportedServers(), ', ')])))
  #warning($warningMessage)
#end
