## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
#if($configuration["serverFound"] != $null)
|(% id="admin-tools-dash-content" %)(((

Get info about your backend

----
* XWiki installation version: $xwiki.version
** [[Show latest logs]]
* Used server: $configuration["usedServer"]
* OS info:
** OS name: $configuration["osName"]
** OS version: $configuration["osVersion"]
** OS Architecture: $configuration["osArch"]
* Used database: $configuration["database"]
)))
#else
#set($warningMessage = "Currently supported servers: " + $configuration.get('supportedServers'))

{{html}}
#warning("Server path was not found. Please manually add the path to the server on the Admin Tools configuration page.")
#warning($warningMessage)
{{/html}}
#end

